@import url('http://fonts.cdnfonts.com/css/pokemon-solid?styles=24573');
.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Pokemon Solid', sans-serif;
}
.app-gruop-pokes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-top: 5vh;
}





